<div class="content">
  <div *ngIf="city">
    <h2 class="subtitle">{{city.name | uppercase}} Details</h2>

    <div>
      <h5>Score: {{city.score | number:'1.1-4'}} / 10</h5>
      <h5>{{city.snippet}}</h5>
    </div>

    <ngb-carousel *ngIf="city.images" class="d-block w-50 carousel">
      <ng-template ngbSlide *ngFor='let image of city.images'>
        <div class="picsum-img-wrapper carousel-img-wrapper">
          <img [src]="image.source_url" alt="{{image.caption}}" class="carousel-img">
        </div>
        <div class="carousel-caption">
          <p>{{image.caption}}</p>
        </div>
      </ng-template>
    </ngb-carousel>

    <div>
      <h5>Population: {{city.properties[0].value | number}}</h5>
      <h5>Country:
        <a routerLink="./..">
          {{country.name}}
        </a>
      </h5>
      <agm-map [latitude]="city.coordinates.latitude" [longitude]="city.coordinates.longitude" style="height:50vh; width: 100vh;"> 
        <agm-marker [latitude]="city.coordinates.latitude" [longitude]="city.coordinates.longitude"></agm-marker>
      </agm-map>
      <!-- <h5>
        <a href="{{map}}" target="_blank">
          Map of {{city.name}}
        </a>
      </h5>
      <iframe width="350" height="300" src="{{embedMap}}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe> -->
    </div>

    <button class="button-secondary" (click)="goBack()">go back</button>
  </div>

  <!-- <div *ngIf="!city">
    <app-city-search></app-city-search>
  </div> -->
</div>
