/* CountriesComponent's private SCSS styles */
@import "./src/app/app.component.scss";

.countries {
	margin: 0 0 2em 0;
	list-style-type: none;
	padding: 0;
	width: 15em;
	li {
		cursor: pointer;
		background-color: $silver;
		margin: .5em;
		padding: .3em 0;
		height: 2em;
		border-radius: 4px;
		&:hover {
			color: $white;
			background-color: $pink;
			left: .1em;
			a {
				color: $white;
			}
		}
	}
	a {
		color: $blue;
		display: block;
		width: 250px;
		&:hover {
			color: $white;
		}
	}
	.badge {
		display: inline-block;
		font-size: small;
		color: white;
		padding: 0.8em 0.7em 0 0.7em;
		background-color: $blue;
		line-height: 1em;
		margin-top: -5px;
		height: 2.4em;
		min-width: 16px;
		text-align: right;
		margin-right: .8em;
		border-radius: 4px 0 0 4px;
	}
}
button {
	background-color: $silver;
	color: $teal;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
	cursor: hand;
	font-family: Arial;
	&:hover {
		color: $white;
		background-color: $teal;
	}
}
label {
	color: $teal;
}
