/* CityDetailComponent's private SCSS styles */
@import "./src/app/app.component.scss";

label {
	display: inline-block;
	width: 3em;
	margin: .5em 0;
	color: $blue;
	font-weight: bold;
}
button {
	margin-top: 20px;
	font-family: Arial;
	color: $white;
	background-color: $teal;
	border: 1px solid $teal;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
	&:hover {
		color:$teal;
		background-color: $silver;
	}
	&:disabled {
		background-color: $silver;
		color: $white;
		cursor: auto;
	}
}
.city-detail {
	padding: 20px;
	color: $blue;
}
