<div *ngIf="city" class="city-detail">
  <h2>{{city.name | uppercase}} Details</h2>
  <div><label>id: </label>{{city.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="city.name" placeholder="name"/>
    </label>
  </div>
  <div>
    <label>country:
      <input [(ngModel)]="city.country" placeholder="country"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()" class="margin-left-10">save</button>
</div>

<div *ngIf="!city">
  <app-city-search></app-city-search>
</div>
