<div class="content">
  <div *ngIf="country">
    <h2 class="subtitle">{{country.country | uppercase}} Details</h2>
    <br>
    <h3 class="heading">Cities located in {{country.country}}</h3>
    <!-- list of cities within country -->
    <ul class="list-with-badge">
      <li *ngFor="let city of cities">
        <span class="badge">{{city.id}}</span>
        <a routerLink="{{city | cityPath}}">
          {{city.name}}
        </a>
      </li>
    </ul>

    <button class="button-secondary" (click)="goBack()">go back</button>
  </div>

  <div *ngIf="!country">
    <app-country-search></app-country-search>
  </div>
</div>
