<div class="content">
  <h2 class="subtitle">My Cities</h2>

  <div>
    <label class="color-secondary">City name:
      <input #cityName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button class="button-secondary" (click)="add(cityName.value); cityName.value=''">
      add
    </button>
  </div>

  <ul class="list-with-badge list-with-badge-delete">
    <li *ngFor="let city of cities">
      <span class="badge">{{city.id}}</span>
      <a routerLink="{{city | cityPath}}">
        {{city.name}}
      </a>
      <button class="delete button-secondary" title="delete city"
        (click)="delete(city)">x</button>
    </li>
  </ul>
</div>
