/* CitySearch private styles */
@import "./src/app/app.component.scss";

#search-box--city {
	width: 200px;
	height: auto;
}
#search-component--city {
	clear:both;
	float: none;
	padding-left: 20px;
}
svg.search-svg {
	#search-box--city:focus + & {
		fill: $pink;
	}
}
