/* MessagesComponent's private SCSS styles */
@import "./src/app/app.component.scss";

.messages {
	padding: 20px;
	background-color: $silver;
	color: $teal;
	flex-grow: 1;
}
button.clear {
	font-family: Arial;
	background-color: $blue;
	border: 1px solid $blue;
	padding: 2px 6px;
	border-radius: 4px;
	cursor: pointer;
	color: $white;
	margin-bottom: 12px;
	&:hover {
		background-color: $silver;
		color: $blue;
	}
}
